
/* Fonts */

h1, h3, ul {
    font-family: Roboto, "Times New Roman", sans-serif;
}

h1, h3 { 
    color: #F9FAF8;
    font-weight: 250;
}

h3{ 
    font-size: 30px;
}

ul { 
    font-size: 30px;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;  
}

/* End Fonts */


body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    flex: 1 1;   
}

header, footer {
    background-color: #1F2937;   
}

nav { 
    display: flex;
    justify-content: space-around;
   
}



.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
   
   

}

 .left {
     display: flex;
     flex-direction: column; 
     align-items: center;
     justify-content: start;
     
}

h1 { 
    font-size: 48px;

}
 .welcome {
     font-size: 24px;
     color: #F9FAF8;
     padding-bottom: 30px;
     
 }

 h2 { 
     font-size: 36px;;
     text-align: center;
     
     
 }

 .main 
 .bottom{
     background-color: #F9FAF8;
 }

 

 .main {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 80px;
     min-height: 100px;
 }

.project-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.description {
    text-align: center; 
    font-size: 24px;

}

.project-photo {
    max-height: 350px;
    max-width: auto;
    border-color: 3882F6;
    border-radius: 15px;
}

button {
    font-size: 24px;
    border: 2px solid #1F2937;
    background-color: #3882F6;
    color: #f9f9f9;
    border-radius: 5px;
    padding: 5px;
    margin-left: 8px;
    
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-content: end;
    min-height: 150px;

}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items:baseline;
    
    
}
h4 {
    font-size: 48px;
    font-style: italic;
    margin-bottom: -35px;


}
 h5 {
     font-size: 36px;
 }



.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}


.twitter-box {
    padding: 15px;
    font-weight: 400;
    color: #F9FAF8;
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.follow-me {
    border: 2px solid #E5E7EB;
    background-color: #3882F6;
    font-size: 30px;
    color: #E5E7EB;
    border-radius: 5px;
    margin-left: 20px;
    padding: 10px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
 
}

.copyright {
    font-size: 18px;
    font-weight: 100;
    color: #F9FAF8;

}
