body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    flex: 1 1 20%;

    
}

header, footer {
    background-color: #1F2937;
    
    
}

nav { 
    display: flex;
    justify-content: space-around;
}

h1, h3, ul {
    font-family: Roboto, "Times New Roman", sans-serif;
}

h1, h3 { 
    color: #F9FAF8;
    font-weight: 250;
}

h3{ 
    font-size: 24px;
}

ul { 
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;  
}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 20%

}

 .left {
     display: flex;
     flex-direction: column; 
     align-items: center;
     justify-content: start;
     
}

h1 { 
    font-size: 48px;

}
 .welcome {
     font-size: 18px;
     color: #F9FAF8;
 }

 h2 { 
     font-size: 36px;;
     text-align: center;
     
     
 }

 .main 
 .bottom{
     background-color: #F9FAF8;
 }

 

 .main {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 80px;
     flex-basis: 20%;
 }

.project-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.description {
    text-align: center; 
    font-size: 24px;

}

.banner {
max-width: 350px;
max-height: auto;
}

.project-photo {
    max-height: 350px;
    max-width: auto;
    border-color: 3882F6;
    border-radius: 15px;
}

button {
    background-color: #3882F6;
    color: #f9f9f9;
    border-radius: 6px;
    
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 500px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items:baseline;
}
h4 {
    font-size: 48px;
}
 h5 {
     font-size: 36px;
 }



.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    flex-basis: 20%;
}


.twitter-box {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}


.follow-me {
    border: 2px #E5E7EB;
    background-color: #E5E7EB;
    color: #3882F6;
    border-radius: 6px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
 
}

.copyright {
    font-size: 12px;
    font-weight: 100;
    color: #F9FAF8;

}
